<html>
    <head>

    </head>

    <body>
        <h1>Hello World!!!!!!!!!!</h1>
        
                <% for ( var i = 0; i < row.length; i++) { %>
                    <li>
                        <ul>Title: <%= row[i].title %></ul>
                        <ul>id:  <%= row[i]._id %></ul>
                        <ul>Content: <%= row[i].content %></ul>
                        <ul>Comments: <%= row[i].comments %></ul>
                        
                    </li>
                <% } %>
                    <h3>add</h3>
                <div class="add-container card p-4" >
                        <form action="/post" method="POST">
                            <input type="text" name="title" id="" placeholder="title" required >
                            <br>
                            <input type="text" name="content" placeholder="content">
                            <br>
                            <button type="submit">Add</button>
                        </form>
                </div>

                <h3>edit</h3>
                <div class="add-container card p-4" >
                    <form action="/edit" method="POST">
                        <input type="text" name="title" id="" placeholder="title" required >
                        <br>
                        <input type="text" name="content" placeholder="content">
                        <br>
                        <input type="text" name="_id" placeholder="_id">
                        <br>
                        <button type="submit">edit</button>
                    </form>
                </div>

                <div class="add-container card p-4" >
                    <form action="/delete" method="POST">
                        <input type="text" name="_id" placeholder="_id">
                        <br>
                        <button type="submit">delete</button>
                    </form>
                </div>

                <div class="add-container card p-4" >
                    <form action="/comment" method="POST">
                        <input type="text" name="_id" placeholder="_id">
                        <br>
                        <input type="text" name="comment" placeholder="comment">
                        <br>
                        <button type="submit">add comment</button>
                    </form>
                </div>
                
    </body>
</html>